@{
    Layout = "_Layout";
}

<script>
    function buttonNo() {
        dapi.closeResourceIfMainResource();
    }
    function buttonYes() {
        dapi.dispatchResourceEvent({
            name: 'changed',
            uri: window.location.href
        });

        dapi.closeResourceIfMainResource();
    }
</script>
<header class="resource-header">
    <h1>QM-Handbuch</h1>
    <!-- style="font-size:20px;font-family:inherit;font-weight:300;line-height:1.25;color:inherit;margin:0.67em;box-sizing:border-box;" -->
</header>
<div class="" style="text-align:center;">
    <!-- mdc-top-app-bar--fixed-adjust -->
    <p style="padding-top: 280px;padding-bottom: 25px;" style="font-size:20px;">Dokument gelesen und verstanden?</p>
  
    <button class="mdc-button mdc-button--raised" onclick="javascript: buttonYes();" style="font-size:15px;height:50px;width: 100px;margin-right: 10px;background-color:#2E7D32;">
        <span class="mdc-button__label">Ja</span>
    </button>
    <button class="mdc-button mdc-button--raised" onclick="javascript: buttonNo();" style="font-size:15px;height:50px;width: 100px;background-color:#e53935;">
        <span class="mdc-button__label">Nein</span>
    </button>
</div>
