@model List<Dvelop.Remote.Controller.QualityManagement.ChapterResultDto>

<div class="" style="padding-left:30px;"><!-- mdc-top-app-bar--fixed-adjust -->
    <ul class="mdc-list mdc-list--two-line" aria-orientation="vertical">
        @foreach (var item in Model)
        {
        <li role="separator" class="mdc-list-divider mdc-list-divider--padded"></li>
        <li class="dmc-list-item">
            <a href="@item.DocumentLink" target="dapi_navigate" class="mdc-list-item" tabindex="0">
                <span class="mdc-list-item__graphic material-icons state-icon" style="color: #e53935" aria-hidden="true" id="docid_@item.DocId">warning</span>
                <span class="mdc-list-item__text">
                    <span class="mdc-list-item__primary-text" style="font-size:18px !important;padding-top:10px !important;padding-bottom: 5px !important;">@item.Headline</span>
                    <!--<span class="mdc-list-item__secondary-text">@item.ChapterNo</span>-->
                </span>
            </a>
        </li>
        }
    </ul>
</div>
